body {
	background-image: url(https://sophosnews.files.wordpress.com/2015/07/data-eagle-nsa-1200_175014458.jpg?w=640&h=334);center, repeat;
	background-size: cover;

}

h1 {
	text-align: center;
	text-decoration: underline;
	color:#D7F5FA;
}

p {
	text-align: center;
	color: #D7F5FA;
	text-shadow:
    -1px -1px 0 #035647,
    1px -1px 0 #035647,
    -1px 1px 0 #035647,
    1px 1px 0 #035647;
	padding: 10px;
}

.quoteOptions {
	text-align: center;
}

.filter, .add, .remove {
	padding: 5px;
}

